@font-face {
            font-family: "Mulish";
            src: url(assets/Mulish-VariableFont_wght.ttf);
            font-weight: 400 800;
            }

body {
font-family: "Mulish", sans-serif;
background-color:#f7f7f7
}

.title{
font-size: 4rem;
font-weight: 800;
}

.bold{
font-size: 2rem;
font-weight: 600;
}

.small{
font-size: 1.5rem;
font-weight: 400;
}

a{color:#078adb}

a:link {
text-decoration: none;
}

a:hover {
color: #42aaeb;
text-decoration: underline;
}

a:hover {
  color: #42aaeb;
  text-decoration: underline;
}

.hover-underline:hover {
	text-decoration: underline;
}

.pointer {cursor: pointer;}

.popup-text {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s ease, visibility 0.2s ease;
      margin-top: 10px;
    }

.popup-text.show {
opacity: 1;
visibility: visible;
}

html {
margin-left: 6rem;
}

.container{
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
}

.card iframe{
width: 100%
}

.container .card{
flex: 0 0 20em;
margin-right: 1rem;
margin-bottom: 1rem;
background: white;
}

.card .content{
padding: 1rem;
}

.responsive-iframe{
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
width: 100%;
height: 100%;
}
    
.button1:hover {
background-color: #969696;
color: white;
}
