@font-face {
            font-family: "Mulish";
            src: url(assets/Mulish-VariableFont_wght.ttf);
            font-weight: 400 800;
            }

body {
font-family: "Mulish", sans-serif;
background-color:#f7f7f7
}

.title{
font-size: 4rem;
font-weight: 800;
}

.bold{
font-size: 2rem;
font-weight: 600;
}

.small{
font-size: 1.5rem;
font-weight: 400;
}

a{color:#078adb}

a:link {
text-decoration: none;
}

a:hover {
color: #42aaeb;
text-decoration: underline;
}

a:hover {
  color: #42aaeb;
  text-decoration: underline;
}

.hover-underline:hover {
	text-decoration: underline;
}

.pointer {cursor: pointer;}

html {
margin-left: 6rem;
}

.button {
background-color: #f0f0f0;
border: none;
color: white;
padding: 16px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
transition-duration: 0.4s;
cursor: pointer;
}

.button1 {
background-color: #f0f0f0; 
color: black; 
border-radius: 4px;
}
            
.button1:hover {
background-color: #969696;
color: white;
}
