@font-face {
	font-family: "Mulish";
	src: url(assets/Mulish-VariableFont_wght.ttf);
	font-weight: 400 800;
	}

body {
	font-family: "Mulish", sans-serif;
	background-color:#FFFFFF
	}

.page-container {
	padding: 0 5rem;
}


	
.title{
	font-size: 4rem;
	font-weight: 800;
	}

.bold{
	font-size: 2rem;
	font-weight: 600;
	}

.medium{
	font-size: 1.5rem;
	font-weight: 400;
	}

.small{
	font-size: 1.2rem;
	font-weight: 400;
	}

a{color:#078adb}

a:link {text-decoration: none;}

a:hover {
	color: #42aaeb;
	text-decoration: underline;
	}

.hover-underline:hover {text-decoration: underline;}

.pointer {cursor: pointer;}

.popup-text {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
	}

.popup-text.show {
	opacity: 1;
	visibility: visible;
	}

html {
	margin-left: 5rem;
	margin-right: 5rem;
	}

.container{
	display: flex;
	align-items: top;
	justify-content: flex-start;
	flex-wrap: wrap;
	}

.card iframe{
	width: 90%;
	display:block;
	margin:auto;
	margin-top: 2rem;
	}
	
.card img{
	width: 90%;
	display:block;
	margin:auto;
	margin-top: 2rem;
	}

.container .card{
	flex: 0 0 40em;
	margin-right: 2rem;
	margin-bottom: 2rem;
	background: #EDEDED;
	border-radius: 1rem;
	}

.card .content{
	margin-right: 2rem;
	margin-left: 2rem;
	margin-bottom: 2rem;
	}

.responsive-iframe{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	}

img{width: 100%;}
    

